/* Fuentes titulo de la web*/
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

/* Fuentes de la web*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos banner + estilos de la imagen*/
#bannerlogo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#imgbannerlogo{
    width: 10em;
    height: 10em;
    padding-top: 1%;
}

/*Estilos del menu*/

#menu {
    position: absolute;
    background-color: #1D59A6;
    width: 100%;
    height: 10%;
    top: 30%;
    left: 0;
    z-index: 1001;
    display: flex; /* Flexbox para alinear los elementos */
    align-items: center;
    justify-content: right;
}

#menu img{
    height: 10%;
    width: 10%;
}

/* Nombre de la web*/

#namepag{
    text-decoration: none;
    color: #ffffff;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin-right: 37%;
}

/*Estilos botones del menu*/

#pagactual{
    background-color: #3B6EB0;
}

.boton {
    margin: 0 30px;
}

.textboton:hover {
    background-color: #08346C;
}

.textboton {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

/*Estilos sections*/

.sections{
    height: 20%;
    width: auto;
    padding: 0 1% 0 1%;
    opacity: 0;
    transition: opacity 1s ease;
}

.disSections{
    display: flex;
    align-items: center;
    margin: 5% 0% 5% 0%;
}

#inicio{
    margin-top: 23%;
}

h1,h2{
    color: #1D59A6;
}

/* Estilos Index*/

/*Primer section*/
#Vision{
    padding-right: 5%;
}


#imgVision{
    height: 20rem;
    width: 30rem;
    border-radius: 15px;
}

/*Segunda section*/
#bannerPres{
    padding-left: 5%;
    text-align: center;
}

#imgbannPres{
    height: 20rem;
    width: 30rem;
    border-radius: 15px;
}

.textTitulo{
    text-align: center;
    color: #ffffff;
    background-color: #10A47F;
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
}

.textTitulo h2{
    color: #ffffff;
}

/*Boton segunda section*/
#botonRedi{
    color: #0C4389;
    text-decoration: none;
    padding: 7px;
}

#bDeco{
    position: relative;
    background-color: #5F8BC4;
    padding: 7px 7px 7px 7px;
    border-radius: 15px;
}

#bDeco:hover{
    background-color: #0C4389;
}

/*Tercer section*/
#bannerPromo{
    position: relative;
    width: 35rem;
    height: 25rem;
    text-align: center;
    padding: 0% 2% 0% 5%;
}

#bannerPromo2{
    background-color: #808080;
    color: #ffffff;
    position: relative;
    width: 35rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 5% 0% 2%;
    border-radius: 15px;
}

#imgPromo{
    width: 35rem;
    height: 25rem;
    border-radius: 15px;
}


/*Boton tercer section*/
.bPromo{
    position: relative;
    top: -5rem;
    background-color: #30AF8F;
    padding: 7px 7px 7px 7px;
    border-radius: 15px;
}

.bPromo:hover{
    background-color: #015540;
}

.bPromo a {
    color: #015540;
    text-decoration: none;
}



/*Cuarta section, Div noticias + contenido*/

#noticias{
    display: flex;
    align-items: center;
    margin: 5% 0% 2% 0%;
    border: #10A47F;
    border-width: 5px;
    border-style: double;
    border-radius: 15px;
}


#cuerpoNoticias{
    padding-right: 5%;
    margin-left: 10px;
}

#cuerpoNoticias h4{
    color: #018765;
}

#imgNoticias{
    margin: 10px;
    border-radius: 15px;
}

/*Estilos Galeria*/

/*Primer section*/
.imgProduc{
    height: 15rem;
    width: 25rem;
    margin: 0 11px;
    border-radius: 15px;
}

.Produc{
    height: 11rem;
    width: 25rem;
    margin: 0 11px;
}

.divProduc{
    margin-left: 1%;
    display: flex;
}

#textProduc{
    margin-top: 1%;
}

.titleProduc{
    color: #1D59A6;
    font-weight: bold;
}

/*Segundo section*/

.tituloPresu{
    color: #018765;
    font-weight: bold;
}

#Nuevo{
    padding-right: 5%;
    margin-top: -4%;
}

#MargExtrasection{
    margin-top: 3%;
}

/*Estilos contacto*/

/*Primer section*/
#imgContacto{
    height: 20rem;
    width: 40rem;
    border-radius: 15px;
}


#divTablaC{
    padding: 2% 17% 0% 2%;
}

#divContacto{
    display: flex;
    align-items: self-start;
    margin: 2% 0% 5% 0%;
}

.imgTabla{
    height: 30px;
    width: 30px;
}

/*Segundo section*/
#Mapa{
height: 450px;
    width: 800px;
    margin: 2% 0 3% 20%;
    border-radius: 15px;
}

.textBorderinset{
    text-align: center;
    border: #1D59A6;
    border-width: 5px;
    border-style: inset;
    border-radius: 15px;
}/*Estilo usado en galeria y contacto*/


/*Estilos presupuesto*/

/*Primer section*/
#presupuesto {
    display: flex;
}

#textFormpresupuesto, #formpresupuestoprecio h3{
    color: #009272;
}

#productoSeleccionado{
    height: 10px;
}

#formpresupuesto{
    margin-left: 2%;
}

#formpresupuestoprecio {
    margin: -18px 0 0 7em;
    width: 80%;
}

#content-cart {
    margin-left: 15%;
}

#botonesForm{
    margin: 7% 0 0 15%;
}

#agregar{
    color: #ffffff;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    background-color: #10A580;
    border-style: none;
    border-radius: 5px;
}

#agregar:hover{
    background-color: #006F53;
}

#contenedor {
    margin-left: 5em;
}

#totalFinal {
    padding: 1%;
    margin: 2% 4% 4% 10%;
    border: #10A580;
    border-style: double;
    border-radius: 15px;
}

#Plazo, #seleccionproducto {
    border-radius: 5px;
}

.botonsForm{
    margin-right: 20%;
    color: #ffffff;
    text-decoration: none;
    padding: 7px;
    background-color: #10A580;
    border-style: none;
    border-radius: 5px;
}

.botonsForm:hover{
    background-color: #006F53;
}

.parteFormpresupuesto{
    display: flex;
    margin-top: 2%;
}

/*Segundo section*/
.opiniones{
    border-color: #3D6EAD;
    border-style: inset;
    text-align: center;
    width: 30%;
    height: 10em;
    margin: 0 2% 0 2%;
    padding-top: 1%;
    border-radius: 15px;
}

.imgOpiniones{
    height: 5em;
    width: 5em;
}

.textOpiniones{
    text-align: center;
    border: #1D59A6   ;
    border-width: 5px;
    border-style: double;
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
}
/*Estilos del footer*/
.footer{
    position: relative;
    background-color: #1D59A6;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    padding: 2%;
    margin-top: 3%;
}


#redessociales img{
    width: 5em;
    height: 5em;
}
