<!DOCTYPE html>
<html lang="Es">
    <head>
        <meta charset="UTF-8">
        <title>Drivion</title>
        <link rel="icon" href="../images/coche-favicon.png">
        <!--Llamadas a estilos locales y externos-->
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""> 
        <link rel="stylesheet" href="../librerias/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css"> 
    </head>
    <body>
        <header>
            <!--Div con logo-->
            <div id="bannerlogo">
                <img src="../images/Logocoche.png" alt="logotipo" id="imgbannerlogo" width="571" height="545">
            </div>
            <!-- Div que contiene el menú + nombre de la web-->
            <div id="menu">
                <a href="#" id="namepag">Drivion</a>
                <span class="boton"><a href="../index.html" class="textboton">Inicio</a></span>
                <span class="boton"><a href="galeria.html" class="textboton">Galeria</a></span>
                <span class="boton"><a href="presupuesto.html" class="textboton">Presupuesto</a></span>
                <span class="boton"><a href="#" class="textboton" id="pagactual">Contacto</a></span>
            </div>
        </header>
        <!--Primera section-->
        <section class="sections" id="inicio">
            <!--H1 + div con table-->
            <h1>Nuestros datos: </h1>
            <div id="divContacto">
                <div id="divTablaC">
                    <table>
                        <tr><th colspan="2"></th></tr>
                        <tr>
                            <td><img src="../images/viber.png" alt="telefono" width="512" height="512" class="imgTabla"></td>
                            <td>Teléfono: 555 55 55 55 5</td>
                        </tr>
                        <tr>
                            <td><img src="../images/correo-electronico.png" alt="carta" width="512" height="512" class="imgTabla"></td>
                            <td>Email: Drivion@correo.com</td>
                        </tr>
                        <tr>
                            <td colspan="2">Nos encontramos en:</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">Calle Compositor Lehmberg Ruiz, 5, <br>Distrito Centro, 29007 Málaga</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">Horario de Apertura:<br>Lunes a Domingo: 10:00 AM - 10:00 PM</td>
                        </tr>
                    </table>
                </div>
                <!--Div con imagen-->
                <div>
                    <img src="../images/pexels-davidmcbee-395537.jpg" alt="concesionario de coches" id="imgContacto" width="1920" height="1080">
                </div>
            </div>
        </section>
        <!--Segunda section-->
        <section class="sections">
            <!--Div con h1 + div del mapa-->
            <h1 id="h1Contacto">¡Ven a visitarnos!</h1>
            <div id="Mapa"></div>
        </section>
        <!--Footer con direccion de la tienda + enlaces a redes sociales + aviso legal-->
        <footer class="footer">
            <p>
                Calle Compositor │ Lehmberg Ruiz, 5, Distrito Centro │ Málaga │ 29007 │ España
            </p>
            <p>
                Drivion S.L. • Todos los derechos reservados • Aviso legal • Politica de privacidad • Politica de cookies
            </p>
            <nav id="redessociales">
                <a href="https://www.youtube.com"><img src="../images/youtube.png" alt="logo de youtube" width="512" height="512"></a>
                <a href="https://www.facebook.com"><img src="../images/facebook.png" alt="logo de facebook" width="512" height="512"></a>
                <a href="https://www.instagram.com"><img src="../images/instagram.png" alt="logo de instagram" width="512" height="512"></a>
            </nav>
        </footer>
        <!--Llamadas a scripts locales y externos-->
        <script src="../js/scripts.js"></script>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <script src="../librerias/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
        <script src="../js/contacto.js"></script>
    </body>
</html>