<!DOCTYPE html>
<html lang="Es">
    <head>
        <meta charset="UTF-8">
        <title>Drivion</title>
        <!--Llamada a estilos locales-->
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    </head>
    <body>
        <header>
            <!--Div con logo-->
            <div style="background-image: url(../images/banner.jpg);" id="bannerlogo">
                <img src="../images/Logocoche.png" alt="logotipo" id="imgbannerlogo">
            </div>
            <!-- Div que contiene el menú -->
            <div id="menu">
                <a href="#" id="namepag">Drivion</a>
                <span class="boton"><a href="../index.html" class="textboton">Inicio</a></span>
                <span class="boton"><a href="galeria.html" class="textboton">Galeria</a></span>
                <span class="boton"><a href="#" class="textboton" id="pagactual">Presupuesto</a></span>
                <span class="boton"><a href="contacto.html" class="textboton">Contacto</a></span>
            </div>
        </header>
        <!--Primer section-->
        <section class="sections" id="inicio">
            <!--H1 + Div-->
            <h1 class="tituloPresu">Rellena con tus datos y obten un presupuesto a tu medida</h1>
            <div class="disSections">
                <!--Form con 2 Divs-->
                <form name="presupuesto" id="presupuesto" action="#" method="POST" onsubmit="return validar(this)">
                    <!--Primera parte-->
                    <div id="formpresupuesto">
                        <!--H3 + table-->  
                        <h3 id="textFormpresupuesto">Datos a ingresar</h3>
                        <table>
                            <tr>
                                <td>
                                    <label for="nombre">Nombre:</label>
                                </td>
                                <td>
                                    <input type="text" id="nombre" name="nombre" value="" placeholder="Tu nombre" required  maxlength="15" pattern="[A-Za-z\s]+">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="apellidos">Apellidos:</label>
                                </td>
                                <td>
                                    <input type="text" id="apellidos" name="apellidos" value="" placeholder="Sus apellidos" maxlength="40" pattern="[A-Za-z\s]+" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="email">Email:</label>
                                </td>
                                <td>
                                    <input type="text" name="email" id="email" value="" placeholder="Tudireccion@correo.com" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="telefono">Teléfono:</label>
                                </td>
                                <td>
                                    <input type="tel" id="telefono" name="telefono" value="" placeholder="123456789" required pattern="[0-9]{9}">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><br><br>
                                    <input type="checkbox" id="privacy" name="privacy">
                                    <label for="privacy">Acepto las políticas de privacidad</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="botonesForm">
                                        <button type="reset" id="boton1" class="botonsForm">
                                            Reiniciar
                                        </button>
                                        <button type="submit" id="boton2" class="botonsForm">
                                            Enviar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--Segunda parte-->
                    <div id="formpresupuestoprecio">
                        <!--Div seleccion del producto-->
                        <div class="parteFormpresupuesto">
                            <!--Div Seleccion de producto-->
                            <div>
                                <h3>Productos disponibles</h3>
                                <select name="seleccionproducto" id="seleccionproducto">
                                    <option value="">--Seleciona un producto--</option>
                                    <option value="Toyota Corolla:2500">Toyota Corolla 2500€</option>
                                    <option value="Ford Mustang:4000">Ford Mustang 4000€</option>
                                    <option value="Volkswagen ID.4:3000">Volkswagen ID.4 3000€</option>
                                </select>
                                <button type="button" id="agregar" >Seleccionar</button>
                            </div>
                            <!--Div contenedor visualizar seleccion-->
                            <div class="contenedorProducto" id="contenedor">
                                <h3>Producto seleccionado</h3>
                                <div id="productoSeleccionado"></div>
                            </div>
                        </div>
                        <!--Div extras-->
                        <div class="extras">
                            <!--H3 + inputs checkbox-->
                            <h3>Extras</h3>
                            <label>
                            <input type="checkbox" class="checkbox-extras" value="Seguro:55">
                            Seguro/1 año 55€
                            </label>
                            <label>
                            <input type="checkbox" class="checkbox-extras" value="Kit:35">
                            Kit: Parasol, soporte de movil y funda de asientos 35€
                            </label>
                            <label>
                            <input type="checkbox" class="checkbox-extras" value="Lona:15">
                            Lona impermeable 15€
                            </label>
                        </div>
                        <!--Div plazos y total final-->
                        <div class="parteFormpresupuesto">
                            <!--Div seleccion de plazos-->
                            <div class="SeleccPlazos">
                                <h3>Plazo en el que desea pagar</h3>
                                <label>
                                <input type="number" name="Plazo" id="Plazo" min="1" max="36" value="1" required>
                                Meses
                                </label>
                            </div>
                            <!--Div Total final-->
                            <div id="totalFinal"><p class="total" id="total-final">Total final: 0€</p></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!--Segunda section-->
        <section class="sections">
            <!--Div con h2 + Div-->
            <div class="textOpiniones"><h2>Opiniones de nuestros clientes</h2></div>
            <div class="disSections">
                <!--Divs con imagenes y texto-->
                <div class="opiniones"><img src="../images/resenas-en-linea.png" alt="Icono de reseñas" class="imgOpiniones"><br>"Justo lo que buscaba" </div>
                <div class="opiniones"><img src="../images/resenas-en-linea.png" alt="Icono de reseñas" class="imgOpiniones"><br>"Cumplierón todas mis expectativas, buena atencion y producto de buena calidad"</div>
                <div class="opiniones"><img src="../images/resenas-en-linea.png" alt="Icono de reseñas" class="imgOpiniones"><br>"¡Siempre que puedo los recomiendo!"</div>
            </div>
        </section>
        <!--Footer con direccion de la tienda + enlaces a redes sociales + aviso legal-->
        <footer class="footer">
            <p>
                Calle Compositor │ Lehmberg Ruiz, 5, Distrito Centro │ Málaga │ 29007 │ España
            </p>
            <p>
                Drivion S.L. • Todos los derechos reservados • Aviso legal • Politica de privacidad • Politica de cookies
            </p>
            <nav id="redessociales">
                <a href="https://www.youtube.com"><img src="../images/youtube.png" alt="logo de youtube"></a>
                <a href="https://www.facebook.com"><img src="../images/facebook.png" alt="logo de facebook"></a>
                <a href="https://www.instagram.com"><img src="../images/instagram.png" alt="logo de instagram"></a>
            </nav>
        </footer>
        <!--Llamada a scripts locales-->
        <script src="../js/scripts.js"></script>
    </body>
</html>